<!doctype html>
<html>
<head>
<style type="text/css">
body {
background-color: #000;
}
#link {
text-decoration: none;
color: #fff;
font-family: arial,helvetica;
font-size: 5em;
text-align: center;
}
#main {
margin: 0px auto;
margin-top: 150px;
width: 800px;
text-align:center;
}
</style>
<title>{{ title }}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35914810-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="main">
<a id="link" href="http://www.imdb.com/title/tt{{ id }}">{{ title }}</a>
</div>
</body>
</html>
